.menu__lista{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width:480px) {
    .menu__lista {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;  
    }
}