.rodape{
    background: white;
    color: black;
    text-align: center;
}

.logo__rodape{
    width: 80px;
    margin-top: 0px;
}

h2{
    text-align: center;
    background-color: #ff73bd;
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}