.categoria__botao {
    background-color: #f199c1;
    border: none;
    border-radius: 30px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1.5s ease-in-out;
    margin-top: 0.5rem;
    font-family: 'Chakra Petch', sans-serif;
}

.categoria__botao:hover {
    background: magenta;
    cursor: pointer;
}